/**
 * Elastic columns styles
 */
.columns {
    position: relative;
    z-index: 1;
    left: 50%;
    width: 50%;
    top: 0;
}

.columns .item {
    display: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    background: #F5F1E6;
    font-size: 13px;
    text-shadow: 0 1px #ffffff;
}

.columns .item h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 10px 0 10px;
}

.columns .item p {
    padding: 10px;
}

.columns .item img {
    width: 100%;
}
