/**
 * Global page styles
 */
html, body, div, button, p, img, h1, h2, h3, h4, pre {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    position: relative;
    font-family: Roboto;
    font-weight: 300;
}

.fork-me {
    position: absolute;
    z-index: 3;
    display: block;
    width: 141px;
    height: 141px;
    top: 0;
    right: 0;
    background: url(images/fork-me.png) no-repeat 0 0;
}

.about {
    z-index: 2;
    top: 0;
    color: #333333;
    position: absolute;
    width: 50%;
    background: #F5F1E6;
    min-height: 100%;
}

.about a,
.about a:visited {
    color: #EF4E18;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.about .clear {
    width: 100%;
    clear: both;
    height: 3px;
    background: #ffffff;
    margin: 0 0 20px 0;
}

.about h1 {
    color: #EF4E18;
    font-weight: 500;
    margin: 30px 20px 30px 20px;
    font-size: 30px;
    line-height: 30px;
    text-shadow: 0 2px #ffffff;
}

.about h2 {
    color: #5BA1BF;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-shadow: 0 2px #ffffff;
}

.about h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-shadow: 0 1px #ffffff;
}

.about p {
    font-size: 16px;
    line-height: 24px;
}

.about p.tiny {
    font-size: 13px;
    line-height: 22px;
}

.about pre {
    border: 1px solid #f3b2a0;
    background: #fdf9ee;
    padding: 10px 10px 12px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #3a3a3a;
    overflow: hidden;
}

.about .buttons {
    height: 37px;
}

.about button {
    float: left;
    padding: 8px 16px 8px 16px;
    margin: 0 5px 0 0;
    border: 0;
    background: #5BA1BF;
    color: #ffffff;
    text-shadow: 0 1px #4e89a3;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    outline: 0;
    box-shadow: 0 4px #4e89a3;
}

.about button:hover {
    margin: 1px 5px -1px 0;
    box-shadow: 0 3px #4e89a3;
}

.about button:active {
    margin: 3px 5px -3px 0;
    box-shadow: 0 1px #4e89a3;
}

.about .loader {
    display: none;
    margin: 9px 0 0 5px;
    float: left;
    width: 16px;
    height: 16px;
    background: url(images/loader.gif) no-repeat 0 0;
}

.about .gap {
    margin: 0 20px 20px 20px;
}

.about .tiny-gap {
    margin: 0 20px 10px 20px;
}
